html, body {
    max-width: 100%;
    overflow-x: hidden;
		margin-left: 0;
		margin-right: 0;
}
class {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
#header {
    background-color: #ffffff;
    padding: 0px 0px;
    align: left;

}
#logo {
    display:inline-block;
    width: 348px;
    height: 57px;
    position:relative;
}
#menu {
    position: absolute;
    right: 0;
    top: 15px;
    display:none;
}
#nav {
    list-style: none;
    padding: 0;
    display: inline-block;
    position: absolute;
    right: 20px;
}
#nav.vertical {
    display: block;
    padding-left: 20px;
}
#nav.vertical li {
    display: list-item;
    line-height: 40px;
}
#nav li {
    display:inline-block;
    padding-right: 40px;
}
#nav li:last-child {
    padding-right: 0;
}
#leadimg {
  padding-top: 0px;
  width: 100%;
}
img.lead {
  width: 100%;

}
.nav-wrap {
    display: inline-block;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.site-logo {
    color: #0a0a0a;
    display: inline-block;
    font-family: 'Playfair Display', serif !important;
    font-size: 1.75em;
    font-weight: bold !important;
    margin-left: 40px;
    margin-top: 0.95em;
    text-align: left;
}
nav {
    float: right;
    margin-right: 0.75em;
    margin-top: 1.40em;
}
nav li {
	font-family: "Montserrat",Helvetica,Arial,sans-serif !important;
    display: inline;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 11px;
}
#home-text{
	text-align: center; position: absolute; top: 27%; bottom: 50%; width: 100%;
}
body {
	background-color: #dfdfdf;
}
/* Other work module */
.promolist-four, .promolist-three {
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    margin: 30px 0;
    padding-top: 13px;
    padding right: 0px;
    padding-bottom: 18px;
    padding-left: 100px;
    text-align: center;
    width: 80%;

}
.promolist-four > span, .promolist-three > span {
    background-color: #fff;
    color: #999;
    display: inline;
    font: italic 21px "Times New Roman",Times,serif;
    letter-spacing: 2px;
    margin: 0;
    padding: 0 20px;
    position: relative;
    text-transform: lowercase;
    top: -23px;
}
.promolist-four > ul::after, .promolist-three > ul::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.promolist-four > ul > li, .promolist-three > ul > li {
    float: left;
    list-style: outside none none;
    text-align: center;
}
.promolist-four > ul > li {
    width: 25%;
}

.full-width {
    margin-left: 0;
    margin-right: 0;
    padding-left: 60px;
    width: 980px;

}
/*End of other work module */

#footer{
  padding-top: 100px;
  padding-left: 100px;
}
a {
  color: #000000;
  text-decoration: none;
}
p {
  padding-left: 50px;
	padding-right: 50px;

  font-family: "Montserrat",Helvetica,Arial,sans-serif !important;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	line-height: 36px;
}
h1 {
  padding-left: 0px;
	font-family: 'Playfair Display', serif;
  font-weight: 100;
	font-size: 60px;
	font-style: bold;
	font-variant: normal;
	line-height: 74px;
	font-weight: bold;
}
h2 {
  padding-left: 0px;
	font-family: 'Playfair Display', serif;
  font-weight: 100;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	line-height: 80px;
}
h3 {
	padding-left: 0px;
  position:relative;
  font-family: "Montserrat",Helvetica,Arial,sans-serif !important;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	line-height: 36px;
}
h4{
	font-family: "Montserrat",Helvetica,Arial,sans-serif !important;
    display: inline;
    list-style-type: none;
}

/* grid layout */

.wrapper {
  border : 0px solid #000;
  overflow:hidden;
	padding-left: 0;
}

.wrapper div {
   min-height: 250px;
   padding: 0px;

}
#one {
  background-color: gray;
  float:left;
  margin-right:0px;
  width: 50%;
  border-right:0px solid #000;
	min-height: 250px;
	margin-bottom: 0;
	padding-bottom: 0;
}
#two {
  background-color: white;
  overflow:hidden;
  margin:0px;
  border:0px dashed #ccc;
  min-height:250px;
}
#three {
  background-color: gray;
  float:left;
  margin-right:0px;
  width: 50%;
  border-right:0px solid #000;
	min-height: 250px;
	margin-bottom: 0;
	padding-bottom: 0;
}
#four {
  background-color: white;
  overflow:hidden;
  margin:0px;
  border:0px dashed #ccc;
  min-height:250px;
}
#five {
  background-color: gray;
  float:left;
  margin-right:0px;
  width: 50%;
  border-right:0px solid #000;
	min-height: 250px;
	margin-bottom: 0;
	padding-bottom: 0;
}
#six {
  background-color: white;
  overflow:hidden;
  margin:0px;
  border:0px dashed #ccc;
  min-height:250px;
}

@media screen and (max-width: 768px) {
   #one {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:0px solid #000;
  }
	#three {
	 float: none;
	 margin-right:0;
	 width:auto;
	 border:0;
	 border-bottom:0px solid #000;
 }
 #five {
	float: none;
	margin-right:0;
	width:auto;
	border:0;
	border-bottom:0px solid #000;
}
}
#one img {
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}
#two img {
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}
#three img {
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}
#four img {
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}
#five img {
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}
#six img {
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}

#footerlink{
padding-top: 250px;
padding-bottom: 250px;
}
